html {
    font-size: 16px;
}

header {
    background-color: white;
    height: auto;
    margin: 0px;

}

.logo {
    padding-top: 10px;
    font-size: 35px;
    font-weight: bold;
    color: rgb(197, 195, 195);
    text-align: center;

}

.a-header {
    padding-top: 20px;
    text-align: center;
}

.a-home {
    text-decoration: none;
    color: black;
    margin-right: 25px;
    text-align: center;
}

.red-box {
    background-color: rgb(236, 96, 17);
    height: 75%;
    width: 16%;
    position: absolute;
    top: 65%;
    left: 70%;
    transform: translate(-50%, -50%);
}

.green-box {
    background-color: rgb(145, 197, 5);
    height: 44%;
    width: 26%;
    position: absolute;
    right: 5%;
    top: 53%;
    margin-right: 10px;
}

.black-box {
    background-color: rgb(41, 45, 51);
    height: 50%;
    width: 38%;
    position: absolute;
    left: 52%;
    top: 40%;
    color: white;
    padding: 60px 40px;
    size: cover;
}

.p-ourteam {
    letter-spacing: 4;
    font-weight: 200;
}

.h1-our-team {
    font-weight: 700;
}

.out-team-link {
    margin-top: 20px;
}

.out-team-link a {
    text-decoration: underline;
    color: white;
}

.our-team {
    background-position: center;
    background-size: cover;
    background-image: url(6_1.jpg);
    min-height: 100%;
}

.consulting h1 {
    text-align: center;
    margin-top: 40px;
    font-weight: bolder;
    margin-bottom: 40px;
}

.img-consulting {
    background-image: url(6_2.png);
    background-size: cover;
}

.consulting p {
    font-size: 20px;
}

.consulting img {
    height: auto;
    width: 100%;
}

.consulting-link {
    margin-top: 50px;
}

.consulting-link a {
    color: black;
}

.consulting button {
    padding: 5px 40px;
    color: white;
    margin-top: 10px;
    background-color: rgb(236, 96, 17);
    border: none;
    font-weight: 700;
    letter-spacing: 1;

}

.Business-problems {
    background-color: rgb(43, 41, 51);
    padding-top: 100px;
    padding-bottom: 100px;
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    height: auto;
    z-index: 0;

}

.bussiness-orange-box {
    background-color: rgb(236, 96, 17);
    height: 80%;
    width: 25%;
    position: absolute;
    padding: 120px 0px;
    left: 20%;
    z-index: -1;
}

.bussiness-image-first {
    height: auto;
    width: 60%;
    left: 27%;
    top: 8%;
    /* position: absolute; */
    display: block;
    margin-left: 25%;
    margin-top: 5%;

}

.bussiness-image-second {
    height: auto;
    width: 26%;
    display: block;
    margin-left: 67%;
    margin-top: -5%;
}

.bussiness-image-third {
    height: auto;
    width: 30%;
    display: block;
    margin-left: 12%;
    margin-top: -30%;
}

.complex-business-problems {
    background-color: white;
    height: auto;
    width: 40%;
    margin-left: 37%;
    margin-top: -11%;
    padding: 40px;
    position: sticky;
    z-index: 1;
}

.complex-business-problems h1 {
    font-weight: 700;
    margin-bottom: 20px;
}

.complex-business-problems a {
    color: black;
    text-decoration: none;
    margin-bottom: 15px;
    border-bottom: 1px solid black;
}

.complex-business-problems p {
    line-height: 2;
}

.complex-business-problems button {
    margin-top: 20px;
    padding: 8px 40px;
    background-color: rgb(236, 96, 17);
    color: white;
    border: none;
    font-weight: bold;
}

.complex-business-problems-button:hover {
    background-color: rgb(146, 199, 5);
}

.bussiness-image-fourth {
    height: auto;
    width: 45%;
    display: block;
    margin-left: 25%;
    margin-top: -12%;
}

.leadership {
    background-color: rgb(41, 45, 51);
    color: white;
    padding: 40px 0px;
    text-align: center;
}

.leadership h1 {
    line-height: 1.5;
    margin-bottom: 20px;

}

.leadership p {
    line-height: 2;
    margin-bottom: 20px;
}

.leadership button {
    border: 2px solid white;
    background-color: rgb(41, 45, 51);
    color: white;
    padding: 10px 40px;
    font-weight: bold;
    margin-top: 40px;
}

.leadership button:hover {
    background-color: white;
    color: rgb(41, 45, 51);
}

.image-green-box {
    background: linear-gradient(to bottom,
            rgb(43, 41, 51) 0%,
            rgb(43, 41, 51) 55%,
            white 55%,
            white 100%);
    padding: 100px;
    align-content: center;

}

.image-green-box img {
    box-shadow: 70px 70px rgb(146, 199, 5);
    height: auto;
    width: 80%;
    padding: auto;
}

.consultants h1 {
    text-align: center;
    margin-top: 40px;
}

.consultants h4 {
    line-height: 2.5;
}

.consultants p {
    line-height: 2.5;
}

.diversity {
    background-color: rgb(41, 45, 51);
    padding: 100px 0px;
}

.image-divesity img {
    height: auto;
    width: 100%;
}

.details-divesity {
    background-color: white;
    padding: 40px;
}

.details-divesity h1 {
    font-weight: bolder;
    margin-bottom: 20px;
    font-size: 60px;
}

.details-divesity p {
    line-height: 2;
    font-size: 30px;
}

.details-divesity a {
    color: black;
}

.details-divesity button {
    padding: 5px 30px;
    color: white;
    margin-top: 20px;
    background-color: rgb(236, 96, 17);
    border: none;
    font-size: 20px;
}

.business-consultants {
    position: relative;
}

.div-green-line {
    width: 26%;
    position: absolute;
    height: 100%;
    background-color: rgb(146, 199, 5);
    z-index: -100;
    left: 37%;
}

.business-consultants-left-part img {
    height: auto;
    width: 100%;
    padding: 20px 0px;

}

.business-consultants-right-part img {
    height: auto;
    width: 100%;
    padding: 20px 0px;
}

.business-consultants-black-box {
    background-color: rgb(43, 41, 51);
    width: 100%;
    padding: 20px 40px;
    color: white;
    height: 64%;
}

.business-consultants-black-box h1 {
    font-size: 3rem;
}

.business-consultants-black-box p {
    margin-top: 20px;
    font-size: 1.5rem;
}

.business-consultants-black-box a {
    color: white;
}

.work-div {
    background: linear-gradient(rgb(0, 0, 0, 0.3), rgb(0, 0, 0, 0.3)), url(6_12.jpg);
    background-size: cover;
    height: 100%;
    width: 100%;
    background-position: center;
    padding-bottom: 40px;
    padding-top: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.we-work {
    background-color: rgb(0, 0, 0, 0.6);
    color: white;
    padding: 0px;
}

.three-work-div {
    margin: 20px;
}

.green-work {
    background-color: rgb(146, 199, 5);
    height: 15px;
}

.green-work-content {
    padding: 20px;
    line-height: 2;
}

.green-work-content h4 {
    color: rgb(146, 199, 5);
}

.green-work-content a {
    color: white;
    text-decoration: none;
    padding-bottom: 5px;
    border-bottom: 2px solid white;
}

.green-work-content a:hover {
    color: rgb(146, 199, 5);
    border-bottom: 2px solid rgb(146, 199, 5);
}

.orange-work {
    background-color: rgb(236, 96, 17);
    height: 15px;
}

.orange-work-content {
    padding: 20px;
    line-height: 2;
}

.orange-work-content h4 {
    color: rgb(236, 96, 17);
}

.orange-work-content a {
    color: white;
    text-decoration: none;
    padding-bottom: 5px;
    border-bottom: 2px solid white;
}

.orange-work-content a:hover {
    color: rgb(146, 199, 5);
    border-bottom: 2px solid rgb(146, 199, 5);
}

.white-work {
    background-color: rgb(255, 255, 255);
    height: 15px;
}

.white-work-content {
    padding: 20px;
    line-height: 2;
}

.white-work-content h4 {
    color: rgb(255, 255, 255);
}

.white-work-content a {
    color: white;
    text-decoration: none;
    padding-bottom: 5px;
    border-bottom: 2px solid white;
}

.white-work-content a:hover {
    color: rgb(146, 199, 5);
    border-bottom: 2px solid rgb(146, 199, 5);
}

.contact-us {
    background-color: rgb(41, 45, 51);
    padding: 40px;
}

.contact-us-form {
    color: white;
    margin: 10px;
}

.contact-us-form input {
    width: 95%;
    padding: 8px;
}

.contact-us-form textarea {
    width: 97.5%;
}

.contact-us-form button {
    width: 97.5%;
    background-color: rgb(236, 96, 17);
    color: white;
    padding: 14px;
}

.contact-us-icon i {
    color: white;
    background-color: transparent;
    font-size: 20px;
    margin-top: 30px;
    margin-right: 10px;
    margin-bottom: 40px;
}

.contact-us-details {
    background-color: white;
    padding-top: 60px;
    padding-bottom: 60px;
}

.all-contact-us-details {
    padding: 20px;
    line-height: 2;
}

.all-contact-us-details i {
    color: rgb(236, 96, 17);
}

.all-contact-us-details h5 {
    line-height: 1.5;
}

@media only screen and (max-width:1240px) {

    .details-divesity h1 {
        font-size:40px;
    }

    .details-divesity p {
        font-size: 20px;
    }

    .details-divesity button {
        font-size: 15px;
    }
}

@media only screen and (max-width:1000px) {
    .business-consultants-black-box {
        height: auto;
    }
}

@media only screen and (max-width:770px) {
    .image-green-box img {
        box-shadow: 50px 50px rgb(146, 199, 5);
    }

    .image-green-box {
        padding: 70px;
    }

    .work-div {
        height: auto;
    }

    .complex-business-problems {
        width: 55%;
        padding: 35px;
        margin-left: 28%;
    }
}

@media only screen and (max-width:600px) {
    .image-green-box img {
        box-shadow: 30px 30px rgb(146, 199, 5);
    }

    .image-green-box {
        padding: 40px;
    }

    .complex-business-problems {
        padding: 30px;
    }

}

@media only screen and (max-width:580px) {
    .red-box {
        left: 50%;
    }

    .black-box {
        height: 50%;
        width: 48%;
        left: 35%;
        padding: 40px 20px;
    }

    .green-box {
        height: 44%;
        width: 35%;
        right: 17%;
        margin-right: 0px;
    }

    .contact-us-form input {
        width: 100%;
    }

    .contact-us-form textarea {
        width: 100%;
    }

    .contact-us-form button {
        width: 100%;
    }

    .complex-business-problems {
        width: 70%;
        padding: 20px;
        margin-left: 20%;
    }
}

@media only screen and (max-width:450px) {
    .black-box {
        width: 58%;
        left: 28%;
    }

    .red-box {
        width: 30%;
        left: 50%;
    }

    .green-box {
        width: 40%;
        right: 14%;
    }

    .image-green-box {
        padding: 30px;
    }

    .image-green-box img {
        box-shadow: 20px 20px rgb(146, 199, 5);
    }

    .business-consultants-black-box h1 {
        font-size: 2rem;
    }

    .complex-business-problems {
        width: 86%;
        padding: 15px;
        margin-left: 7%;
    }

    .bussiness-image-first {
        width: 80%;
        margin-left: 8%;
        margin-top: 11%;
    }

    .bussiness-image-second {
        width: 50%;
        margin-left: 45%;
    }

    .bussiness-image-third {
        width: 60%;
        margin-left: 5%;
    }

    .bussiness-image-fourth {
        width: 85%;
        margin-left: 1%;
    }

    .bussiness-orange-box {
        height: 87%;
        width: 40%;
    }

}